header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #2f3545, #1d212c);
    color: white;
    height: 10vh;
}
.header-wrapper {
    width: 80%;
    display: flex;
}
.logo-img{
    width: 90%;
    height: 60%;
    align-self: center;
}
.logo-container{
    display: flex;
}